---
layout: default
title : Homepage
navbar_title: Home
---
{% include widgets/profile_card.html %}

{% include widgets/debug_repo_name.html %}

{% include widgets/debug_url.html %}

{% if site.data.display.homepage.show_selected_publications %}
    {% assign pubs = site.publications | sort: "date" | reverse | where: "selected", true %}
    {% 
        include widgets/publication_card.html 
        publications=pubs
        title='<i class="fas fa-star"></i> Selected Publications'
    %}
{% endif %}

{% if site.data.display.homepage.show_experience %}
    {% include widgets/experience_card.html %}
{% endif %}

<div style="max-width: 380px; margin: 0 auto;">
    <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=zEmM8vPIJL6y2k8jzfcpYEEgJB1eIHoDAzlNyxUrwNo&cl=ffffff&w=380"></script>
</div>